// ----------------------------- \
// Con el _ indicamos que es un archivo partials, es decir no creara un archivo css de este archivo scss \
// Posteriormente este archivo le importamos en el main del scss para poder usar su contenido \ 
// ----------------------------- \

$colorUno: #f9ed69;
$colorDos: #f08a5d;
$colorTres: #b83b5e;
$colorCuatro: #6a2c70;